<% #content_for :head_tag do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDysjR8gss3Kr71BXyKArAmwPRSUUqqWww"></script>
    <script type="text/javascript">
      function initialize() {
        var styles = [{"featureType":"water","elementType":"all","stylers":[{"hue":"#27b1e4"},{"saturation":60},{"lightness":-31},{"visibility":"on"}]},{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#c0e6f4"},{"saturation":59},{"lightness":-4},{"visibility":"on"}]},{"featureType":"road","elementType":"all","stylers":[{"hue":"#7ed0ee"},{"saturation":-23},{"lightness":20},{"visibility":"on"}]},{"featureType":"administrative","elementType":"all","stylers":[{"hue":"#6fafc7"},{"saturation":44},{"lightness":20},{"visibility":"on"}]},{"featureType":"poi","elementType":"all","stylers":[{"hue":"#aedbec"},{"saturation":33},{"lightness":11},{"visibility":"on"}]},{"featureType":"transit","elementType":"all","stylers":[{"hue":"#aedbec"},{"saturation":62},{"lightness":22},{"visibility":"off"}]},{"featureType":"road.local","elementType":"all","stylers":[{"hue":"#dceff6"},{"saturation":-41},{"lightness":-9},{"visibility":"off"}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"hue":"#dceff6"},{"saturation":44},{"lightness":22},{"visibility":"on"}]}]

        var myLatlng = new google.maps.LatLng(0,0);
        var mapOptions = {
          zoom: 2,
          mapTypeId: 'terrain',
          center: myLatlng,
          styles: styles
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        var coords = JSON.parse($('div.coords').attr('coords'));
        for (var i = coords.length - 1; i >= 0; i--) {
          var markerLatlng = new google.maps.LatLng(coords[i][0],coords[i][1]);
          var marker = new google.maps.Marker({
              position: markerLatlng,
              map: map,
              title: 'Hello World!'
          });
        }
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<%# end %>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <%= erb :"dashboard/_top_tweeters" %>
  </div>
  <div class="col-sm-6 col-md-6">
    <%= erb :"dashboard/_tweets_table" %>
    <%= erb :"dashboard/_coords" %>
  </div>
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <div id="map-canvas" style="height:600px"></div>
  </div>
</div>


