<% content_for :head_tag do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDysjR8gss3Kr71BXyKArAmwPRSUUqqWww"></script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<% end %>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div id="map-canvas" style="height:500px;width:100%"></div>
  </div>
  <div class="col-sm-6 col-md-6">
    <%= erb :"dashboard/_top_tweeters" %>
    <%= erb :"dashboard/_tweets_table" %>
  </div>
</div>


