<% #content_for :head_tag do %>

<%# end %>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <%= erb :"dashboard/_top_tweeters" %>
  </div>
  <div class="col-sm-6 col-md-6">
    <%= erb :"dashboard/_tweets_table" %>
    <%= erb :"dashboard/_coords" %>
  </div>
</div>
<div class="row map-container">
  <div class="map-container col-sm-12 col-md-10 col-md-offset-1">
    <div id="map-canvas"></div>
  </div>
</div>


