html, body {
  min-height: 100%;
}

body {
  padding-top: 50px;
  background: url('/images/blank-world-map.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  padding-top: 30px;
}

nav ul.nav {
  padding-right: 10%;
  float: right;
}

.nav button {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 15px;
  outline: 0;
  border: 0;
  background: none;
  color: #9D9D9D;
}

nav .nav button:hover {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}

.btn-twitter{color:#fff;background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#1c92c7;border-color:rgba(0,0,0,0.2)}